

#logIn{
  height: 70dvh;
  width: 30dvw;
  position: sticky;
  top: 10dvh;
  left: 30dvw;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}


#Enviar{
  position:sticky;
  left: 12dvw;
}

#Descripcion{
  height: 30dvh;
}

ion-card-title{
  padding-left: 5px;
  padding-top: 10px;
}