<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
    
<div id="container">

  <ion-card id="Tareas">
    <ion-card-title>Mi App de Tareas</ion-card-title>
    <ion-card-content id="tarea-uno">
      Esta es mi tarea! <b>{{formData.description}}</b>
      <div>Fecha <b>{{formData.password}}</b></div>
      <div style="position: fixed;top: 15dvh; color: black;">+ Ver mas detalles</div>
    </ion-card-content>
    <ion-fab style="position: fixed; bottom: 15px; right: 15px;">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-card>

  <ion-card id="logIn">
    <ion-card-title>Agregar tarea</ion-card-title>
    <form (ngSubmit)="onSubmit()">
    
      <ion-textarea id="Usuario"  label="Nombre de la tarea" name="username" fill="outline" [(ngModel)]="formData.username"></ion-textarea>
      <ion-input id="Contraseña" label="Fecha estimada de conclusion"  fill="outline" name="password" type="date" [(ngModel)]="formData.password"></ion-input>
      <ion-textarea id="Descripcion" label="Descripcion" [counter]="true" maxlength="150" fill="outline" name="description" [(ngModel)]="formData.description"></ion-textarea>

      <ion-button id="Enviar" type="submit" color="success">Agregar</ion-button> 
    </form>
    
  </ion-card>


  </div>
</ion-content>

